@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c0dae9;
}
.signin-image {
  filter: drop-shadow(0px 0px 5px black);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #a8dadc !important
}
@media (max-width: 768px) {
  .custom-map-height {
    height: 200px;
  }
}
html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
