@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #c0dae9;
}
#root {
  overflow-x: hidden;
}
.signin-image {
  filter: drop-shadow(0px 0px 5px black);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
  background: #a8dadc !important
}
@media (max-width: 768px) {
  .custom-map-height {
    height: 200px;
  }
}
html::-webkit-scrollbar {
  display: none;
}
html {
  scrollbar-width: none;
}
.side-overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.sidebar.active {
  right: 0;
}
.side-overlay.active {
  visibility: visible;
  opacity: 1;
}
.spinner {
  @media (max-width: 720px) {
    width: 80px;
  }
}